<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-10 shadow">
  <h3>
    <svg xmlns="http://www.w3.org/2000/svg" class="rounded mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
      <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
      <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
      <line x1="6" y1="6" x2="6" y2="6"></line>
      <line x1="6" y1="18" x2="6" y2="18"></line>
    </svg>
    Priceaware
  </h3>
  <form method="GET" action="{{ request.path }}" class="form-inline my-2 my-lg-0" autocomplete="off" onsubmit="showSpinner();">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" size="32" required="true" minlength="3" />
    {% csrf_token %} 
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>